* {
  font-family: Helvetica;
}

header.index h1.header {
  font-size: 100px;
  font-weight: bold;
  color: khaki;
  text-align: center;
  background-image: url(../images/pattern.jpeg);
}

h2.categories {
  font-size: 32px;
  font-weight: bold;
  color: white;
}

.brushes {
  background-color: mediumspringgreen;
}

.frames {
  background-color: lightcoral;
}

.paint {
  background-color: skyblue;
}

span.price {
  font-weight: bold;
  color: blue;
}
